
main{
    width: 100vw;
    height: 100vh;
    background-color: #ffe6f76f;
}

.display-1{
    color: rgba(29, 33, 33, 0.29);
    text-shadow: 3px 3px;
}

.title{
    color:rgba(154, 172, 162, 0.808);
}

.card-body{
    background-color: rgba(135, 235, 246, 0.477);
    border-radius: 15px;
    
}

.input-card{
    background-color: rgba(1, 221, 255, 0.03);
    border-radius: 15px;
    border: 2px solid rgba(160, 225, 160, 0.777);

}

.piechart-card{
    background-color: inherit;
    border-radius: 15px;
}

.pie-chart{
    height: 100%;
}

